<div class="card h-100 shadow-sm">
    <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid bg-info">

    <div class="card-body">
        <a class="nostyle" href="#">
            <h6 class="text-uppercase">{{product.name}}</h6>
        </a>
        <span>{{product.price | currency}}</span>
        <div class="d-flex justify-content-between align-items-center mt-2">
        <div class="btn-group">
            <button class="btn btn-sm btn-outline-secondary me-2">
                <i class="fa fa-shopping-cart"></i> Close
            </button>
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
        </div>
        </div>
    </div>
</div>