<div class="d-flex flex-column flex-md-row align-items-center justify-content-between py-2 px-4 border-bottom">

    <img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo">

  <nav class="text-uppercase" style="font-size: larger;">
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Home</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Shop</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Content</a>
  </nav>

  <div class="d-flex align-items-center">
    <a style="position: relative;">
      <i class="fa fa-shopping-cart fa-lg me-5 text-dark"></i>
      <div class="cart-no">5</div>
    </a>
  
    <a href="" class="btn btn-outline-secondary mr-2">Login</a>
    <a href="" class="btn btn-outline-secondary mr-3">Sign up</a>
  </div>
</div>
